<ul class="local-honey list <%= options[:extra_class] %>">
  <li title="<%= t('locales.portuguese') %>">
    <%= link_to local_honey.send("#{options[:scope]}_locale_path", 'pt-BR') do %>
      <%= image_tag('local_honey/flag-pt-BR.png') %>
    <% end %>
  </li>
  <li title="<%= t('locales.english') %>">
    <%= link_to local_honey.send("#{options[:scope]}_locale_path", 'en') do %>
      <%= image_tag('local_honey/flag-en.png') %>
    <% end %>
  </li>
</ul>
